.PaymentHeader {
  font-size: 30px;
  color: rgb(234, 68, 231);
  margin-top: 20px;
  margin-bottom: 10px;
}
.PaymentText {
  margin-left: 30px;
}

.span {
  font-weight: bold;
  font-size: 17PX;
  opacity: 0.92;
}
.PaymentText > p {
  font-size: 17px;
  margin-bottom: 15px;
}
.ImageAndHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ImageAndHeader > p {
  font-weight: bold;
  opacity: 0.92;
}
.block {
  margin-bottom: 15px;
}
.text {
  margin-bottom: 35px !important;
}
.Lastblock {
  margin-bottom: 40px;
}