.blockForCypiVCredit {
  margin-top: 50px;
}
.h2CypiVCredit {
  font-size: 22px;
  font-weight: bold;
  opacity: 0.85;
  margin-bottom: 10px;
}
.blockForTextCypiVCredit {
  margin-left: 30px;
}
.textCypiVCredit {
  margin-bottom: 5px;
}
.span {
  color: rgb(234, 43, 208);
}
.span:hover {
  cursor: pointer;
  transition: all .35s;
}
.textForTBank {
  margin-top: 30px;
}
.text {
  margin-bottom: 100px;
}